@import './base.css';
@import 'tailwindcss';
@import '@mdi/font/css/materialdesignicons.css';
/* @import 'tailwindcss/preflight';
@tailwind utilities; */

#app {
  font-weight: normal;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(var(--innerHeight));
  width: 390px;
  height: calc(var(--innerHeight));
  margin: 0 auto;
}

@media (max-width: 500px) {
  #app {
    width: 100%;
  }
  html,
  body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

a,
.green {
  text-decoration: none;
  color: var(--color-gray-500);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
